@charset "utf-8";

/* Start of Links to Artworks */
.works-furina {background-image:url(images/works/illust-furina.jpg); }

.works-keychain-senna {
    background-image:url(images/works/keychain-senna.jpg);
    background-position: 0px -8vw;
}

.works-gummy { background-image:url(images/works/illust-gummy.jpg); }

.works-the-first { background-image:url(images/works/scene-the-first.jpg); }

.works-firefly-thumbnail { background-image:url(images/works/illust-firefly-thumbnail.jpg); }

.works-monika {
	background-image:url(images/works/illust-monika.jpg);
	background-position: 0px -8vw;
}

.works-gradbook { background-image:url(images/works/ltfc-grad-book.jpg); }

.works-spitfire { background-image:url(images/works/spitfire.jpg); }

.works-handy { background-image:url(images/works/robot-beach.jpg); }
/* End of Links to Artworks */

/* Pallette */
:root {
	--color-margin:		#000000;
	--color-primary:	#222222;
	--color-secondary:	#F2EDE9;
	--color-accent:		#DC0C24;

	--color-dots:		#7e7e7e;
}

/* Local Variables */
.body-main {
	--font-size-default: 20px;
}

.body-main {
	font-family: "Space Grotesk", sans-serif;
	font-weight: 500;
	font-size: var(--font-size-default);

	background-color: var(--color-margin);
}

ul ::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url(images/common/arrow-bright.svg);
    margin: 0px 15px 0px -15px; 
    transform: rotate(-90deg);
}

/* Start of Nav Bar */
nav {
	height:	75px;
	width: 100vw;

	background-color: var(--color-secondary);
	overflow: hidden;
	
	align-content: center;

	position: sticky;
	top: 0px;

	z-index: 1000;

	filter: drop-shadow(0px 0px 10px var(--color-secondary));
}

.nav-icon-left {

	max-width: 120px !important;
	min-width:60px;

	font-size: 18px;
	line-height: 15px;

	font-weight: 700;

	border: solid var(--color-primary);
	border-radius: 0.5rem;

	margin-left: 4vw;
	padding: 0.25rem 0.0rem 0.25rem 0.55rem !important;

	transition: 0.4s ease-in-out;
}

@media (max-width: 1400px) {
	.nav-icon-left-hidden { display: none; }
}

.nav-ihoke {
	margin: 0px 20px 0px 20px;
	max-height:40px;
}

.nav-action a{
	text-decoration: none;

	color: var(--color-primary);

	border:solid 2px;
	border-top:none;
	border-bottom:none;
	border-left:none;

	padding:20px 30px 20px 30px;

	transition: 0.4s ease-in-out;
}

#nav-action-first a{
	border-left: solid 2px;
}

.nav-action a:hover{
	background-color: var(--color-accent);
	border-color: var(--color-accent);
	color: var(--color-secondary);
}

.nav-icon-right {
	height:50px;
	margin-right: max(20px, 0.5rem);
}

.nav-palette-left, .nav-palette-right{
	--nav-pallette-size:55px;
	
	font-size:10px;
	text-align:right;

	width: var(--nav-pallette-size) !important;
	height: var(--nav-pallette-size) !important;

	margin: 0px 5px 0px 5px;
	
	border: solid var(--color-primary) 2.5px;
	border-radius: 5px;

	overflow: hidden;
}

.nav-palette-left-top {
	padding: 5px 4px 0px 4px;

	background-color: var(--color-primary);
	color: var(--color-secondary);

	height: 20px;
	width:  100%;
}

.nav-palette-left-bottom {
	padding: 11px 4px 0px 4px !important;
}

.nav-palette-right {
	padding:30px 4px 0px 4px !important;

	background-color: var(--color-accent);
	border-color: var(--color-accent);

	color: var(--color-secondary);
}

/* End of Nav Bar */

.body-primary {
    margin: 0px 12vw 0px 12vw !important;

    color: var(--color-secondary);

	background-color: var(--color-primary);
	background-image: radial-gradient( var(--color-dots) 1px, transparent 0);
	background-size: 40px 40px;

    display: flex;

	transition: 0.4s ease-in-out;
}

#index-body-role {
	margin-top: 20px !important;
}

.question {
	width: 100%;

	background-color: var(--color-primary);
	color: var(--color-secondary);

	font-size:30px;
	text-align:center;

	border-radius:15px;
}

.question-mark {
	font-size:60px;
	background-color: var(--color-secondary);
	color: var(--color-primary);

	border: solid 3.5px;
	border-radius:15px 0px 0px 15px;

	height:auto;
	padding:5px!important;
}

.question-main {
	padding:10px 0px 10px 0px;
}

.offscreen-header-right {

	position:absolute;
	right:0px;
	left:20vw;

	margin: 5px 12vw 0px 5vw;

	border:solid 3px;
	border-color: var(--color-primary);
	border-right: 100px;
	border-left: solid 50px;

	background-color: var(--color-secondary);
	overflow: hidden;
	white-space: nowrap;

	transition: 0.4s ease-in-out;
}

.offscreen-header-right h1 {
	padding:10px 0px 0px 5vw;
	font-size:140px;
	font-weight:800;

	color: var(--color-accent);

	position: relative;
	left:30px;

	transition: 0.4s ease-in-out;
}

@media (max-width:1500px) {

	.offscreen-header-right h1 {
		font-size:100px;
		padding:0px 0px 0px 5vw;
	}
}

@media (max-width:1200px) {
		
	.offscreen-header-right {
		margin: 5px 12vw 0px 0px;
	}

	.offscreen-header-right h1 {
		font-size:80px;
		padding:0px 0px 0px 5vw;
	}
}

@media (max-width:900px) {
	.offscreen-header-right h1 {
		font-size:50px;
	}
}

.offscreen-header-br {
	height:250px;
	transition: 0.4s ease-in-out;
}

@media (max-width:1500px) {
	.offscreen-header-br { height:190px; }
}

@media (max-width:1200px) {
	.offscreen-header-br { height:160px; }
}

@media (max-width:900px) {
	.offscreen-header-br { height:130px; }
}

/* Start of Collapsible */
.collapsible-main {
	border:solid;
	border-radius:5px;

	width:800px;

	overflow: hidden;
	margin: 30px 0px;
}

.collapsible-button {
	cursor: help !important;

	width: 100%;
	height: 70px;


	color: var(--color-primary);
	background-color: var(--color-secondary);

	border: none;

	font-weight: 500;

	transition: 0.4s ease-in-out;
}

@media (max-width:800px) {
	.collapsible-button { height:100px; }
}

.collapsible-button p {
	display:inline-block;
	height: 35px;
	margin:0px 5vw 0px 5vw;
}

.collapsible-button:hover {
	color: var(--color-secondary);
	background-color: var(--color-primary);
	border-bottom:solid var(--color-secondary);
}

.collapsible-arrow-left, .collapsible-arrow-right {
	display:inline-block;
	width: 30px;
	height: 30px;

	margin: 0px 1vw 0px 1vw;

	position:relative;
	top:10px;

	background-image: url(images/common/arrow-dark.svg);
	background-size: cover;
	z-index:50;
}

@media (max-width:1200px) {
	.collapsible-arrow-left, .collapsible-arrow-right { display:none; }
}

.collapsible-body {
	overflow:hidden;
	max-height: 0px;
	transition: 0.4s ease-in-out;

	line-height: 25px !important;
	font-weight: 300;

    text-align: justify;
    text-justify: inter-word;

	background-color: var(--color-primary);
	line-height: 20px;

	padding: 0px 40px;
}

.collapsible-body a { text-decoration:none; }

.collapsible-body p {
	padding: 0px 0px 15px 0px;
	font-size: 18px;

}

.collapsible-body h3 {
	text-align: start;

	border-top:solid var(--color-secondary);
	padding-top :20px;
}

.collapsible-img {
	overflow: hidden;
	border-radius: 5px ;

	height: 300px;
	margin: 0px 0px 20px 0px;

	background-size: cover;

	justify-content: right;

}

.collapsible-img p {

	position: relative;
	top: 85%;
	
	margin: 0px 0px 0px 50%;
	padding: 2px 20px 2px 0px;
	
	text-align: right;

	font-weight: 500;
	white-space: nowrap;
	border-radius: 2px 0px 0px 2px;

	color: var(--color-primary);
	background-color: var(--color-secondary) !important;
}

.collapsible-border-bottom {
	border-bottom:solid;
	margin-bottom:25px;
}
/* End of Collapsible */

/* Start of Footer */
.footer-header {
	height:50px;
	vertical-align: middle;
	text-align: center;
	background-color: var(--color-accent)
}

.footer-header p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.footer-body {
	background-color: var(--color-secondary);
	color:var(--color-primary);
	padding:40px;
}

.footer-body-title-col {
	margin: 0px 40px 0px 40px;
	padding: 20px 0px 20px 0px;
	border-top:solid var(--color-primary);
	border-bottom:solid var(--color-primary);
}

.footer-body-title-col h1 {
	text-align: center;
	font-weight: 700;
	font-size: 10vw;
}

.footer-body-content {
	margin:0px 20px 0px 20px !important;
	padding: 20px 0px;
	
	border-bottom: solid var(--color-primary);
}

.footer-social h2 {
	font-size: 22px;
	font-weight: 600;
}

.footer-social img {
	width:50px;
}

.footer-contact-left {
	position: relative ;
	transform: translateY(10%);
}
.footer-contact-right {
	position: relative ;
	transform: translateY(10%);

	overflow-wrap: break-word;
	text-align:right;
}
/* End of Footer */
.scrollbar-container::-webkit-scrollbar-thumb {
    background-color: var(--color-dots); /* Scrollbar thumb color */
    border-radius: 10px; /* Scrollbar thumb rounded corners */
}

.scrollbar-container::-webkit-scrollbar {
    width: 8px; /* Scrollbar width */
}

.scrollbar-container {
	scrollbar-color: var(--color-dots);
}

/* Extends the webpage to test scroll */
.extender {
	height:100px;
	text-align: center;
}