@charset "utf-8";


/* Start of Banner */
.banner {
    margin:0px 4vw 0px 4vw;

    min-height: 350px;
    height: 45vw;
    max-height: 500px;
    width: auto;

    background-image: url("images/works/lauxen-amg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding-top: auto;
    padding-bottom: calc( 400px *0.1 );
    overflow: hidden;

    transition: 0.4s ease-in-out;
}

.banner-padding {
    position: relative;
    top: min(170px, 60%);

    filter: drop-shadow(-4px 4px 1px var(--color-primary));
}

.banner-subtitle{
    color: var(--color-secondary);
    padding-left: 5.25vw;
}

.banner-title { display: none; }

.banner-image {

    background-color: var(--color-secondary);

    border:solid var(--color-primary) 5px;
    border-left:none;
    border-right: solid 5vw;

    padding: 5px 20px 5px 5vw;
    margin-right:30vw;

}

.banner img{
    max-height:200px;
}
/* End of Banner */

/* Start of Role */
.role {
    display:flex;
    flex-grow: 1;

    width:100%;
    padding:50px 0px 50px 0px;
}

.role-left {

    height: auto;
    
    margin: 20px;
    padding: 40px !important;

    border: solid 2.5px;
    border-radius: 25px;

    background-color: var(--color-primary);

    transition: 0.4s ease-in-out;
}

.role-left h1{
    font-size:30px;
    font-weight:400;
}

.role-left-title {
    line-height:30px;
    font-size:40px;
    font-weight:600;
}

.role-left-i-do {
    font-weight:300;
    margin:35px 0px 35px 10px;
}

.role-left-list {
    background-color: var(--color-primary);
    list-style-type: none;

    border:solid var(--color-secondary) 1.75px;
    border-radius: 15px;

    padding: 0px;
    overflow: hidden;
}

.role-left-list li {
    padding:10px 0px 10px 30px;

    font-weight:400;

    border:solid var(--color-secondary);
    border-left:none;
    border-right:none;
    border-top:none;
}

.role-left-list ::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url(images/common/arrow-bright.svg);
    margin: 0px 15px 0px -15px; 
    transform: rotate(-90deg);
}

#role-left-list-last { border-bottom: none; }

.role-right {
    border:solid;
    border-radius: 10px 0px 0px 10px;

    height: 685px;
    overflow: hidden;
    position: relative;
}

.role-right-image {
    width: 100%;
    height: 200px;
    overflow:hidden;

    margin:0px 0px 15px 0px;
}

.role-right-image img { width: 100%; position:relative;}

.role-right-illust {
    position:relative;
    width: 110%;
    height: 250px;
    top: 0px;
    left:-5%;
    margin:0px 0px 15px 0px;
}

.role-right-fit{ height: auto; }

.role-right-offset {
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#works-furina {background-image:url(images/works/illust-furina.jpg); }

#works-keychain-senna { background-image:url(images/works/keychain-senna.jpg); }

#works-gummy { background-image:url(images/works/illust-gummy.jpg); }

@media (min-width:1200px) {
    #works-furina {
        background-position: 0px -20%;
    }
}